<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp7laba4.Properties.Settings.plushlan123ConnectionString"
            connectionString="Data Source=INBOOK_X2_PLUS\SQLEXPRESS01;Initial Catalog=plushlan123;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>